vignettes/proftools*.pdf
vignettes/proftools.aux
vignettes/proftools.log
vignettes/proftools.out
vignettes/proftools.pdf
vignettes/proftools.tex
vignettes/Rplots.pdf
vignettes/proftools.R
vignettes/proftools.bbl
vignettes/proftools.blg
vignettes/cache
vignettes/figure
vignettes/Rprof.cg
vignettes/Rprof.out
vignettes/jss.bst
vignettes/jsslogo.jpg
noweb/proftools.aux
noweb/proftools.log
noweb/proftools.out
noweb/proftools.pdf
noweb/proftools.tex
