vignettes/proftools*.pdf
vignettes/proftools.aux
vignettes/proftools.log
vignettes/proftools.out
vignettes/proftools.pdf
vignettes/proftools.tex
vignettes/Rplots.pdf
vignettes/proftools.R
vignettes/proftools.bbl
vignettes/proftools.blg
vignettes/cache
vignettes/figure
