export(flatProfile)
export(plotProfileCallGraph)
export(printProfileCallGraph)
export(profileCallGraph2Dot)
export(readProfileData)
export(writeCallgrindFile)
export(filterProfileData)
export(plain.style, google.style)
export(funSummary, callSummary, pathSummary, srcSummary)

S3method(print, proftools_profData)
S3method(print, proftools_hotPaths)

