export(flatProfile)
export(plotProfileCallGraph)
export(printProfileCallGraph)
export(profileCallGraph2Dot)
export(readProfileData)
export(writeCallgrindFile)
export(filterProfileData)
export(plain.style, google.style)
export(funSummary, callSummary, pathSummary, srcSummary)
export(hotPaths)
export(flameGraph, calleeTreeMap)
export(annotateSource)
export(profileExpr)

export(profileDataCycles)

S3method(plot, proftools_profData)
S3method(print, proftools_profData)
S3method(print, proftools_hotPaths)
S3method(identify, proftools_flameGraph)
S3method(identify, proftools_calleeTreeMap)

importFrom("grDevices", "heat.colors", "hsv", "rainbow", "rgb")
importFrom("graphics", "locator", "plot", "rect", "strheight",
           "strwidth", "text")
importFrom("stats", "aggregate", "runif")
importFrom("utils", "Rprof", "capture.output", "head")
